@-webkit-keyframes pulse  {
  0% {-webkit-transform: scale(0.8);}
  8% {-webkit-transform: scale(0.8);}
  15% {-webkit-transform: scale(1);}
  30% {-webkit-transform: scale(1.25);}
  100% {-webkit-transform: scale(1.25);}
}
.pulse {
  //-webkit-animation: pulse 2s linear infinite;
}

.pulse {
  border-radius: 30px;
  border: 1px solid #2ecc71;
}

.speech-pulse {
  -webkit-animation: pulse 2s linear infinite;
  color: #E91E63;
}
