@import './nav/index_out';
@import './footer/index';

html, body {
  color: #fff;
  height: 100%;
  width: 100%;
  line-height: 2rem;
  -webkit-align-items: center;  
  -ms-flex-align: center;  
  align-items: center;
  font-family: Helvetica, "Microsoft Jhenghei", Arial, "Raleway", Geneva, sans-serif;
  h1, h2, h3, h4, h5, h6, p {
    font-family: Helvetica, "Microsoft Jhenghei", Arial, "Raleway", Geneva, sans-serif;
  }
  a {
    color: #2EBAFF;
    text-decoration: none !important; 
    &:hover {
      text-decoration: none; 
      opacity: 0.8;
    }
  }
}

.header {
  padding: 110px 50px;
  width: 100%;
  height: 83%;
  margin-top: -20px;
  background-size: cover;
  background-position: center center;

  h1 {
    font-weight: bold;
    font-size: 4rem;
  }
}

//  background: url('https://c1.staticflickr.com/3/2859/9387437445_b44302b59d_b.jpg');

#background {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  color: #fff;
  background: url(https://c2.staticflickr.com/8/7519/16299211106_4068111e80_b.jpg);
  background-size: cover!important;
  background-position: center center!important;
  -webkit-animation: fadein .5s ease 0s forwards;
}
#section2 {
  width: 100%;
  color: #333;
  background: #fff;
  background-size: cover!important;
  background-position: center center!important;
  -webkit-animation: fadein .5s ease 0s forwards;
}
.col-sm-4 i {
  font-size: 36px;
  color: #00BCD4;
}

.background-cover {
  /*background-color: rgba(217, 238, 255, 0.79);*/
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
  top: 0;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.right-block {
  margin-right: 10%;
  float: right;
  text-align: center;
}

body h3 {
  line-height: 2.4rem;
  font-size: 2rem;
  a {
    display: block;
    color: #E8E897;
    &:hover {
      color: #E8E897;
    }
  }
}

section {
  height: 500px;
}
.section-title {
  font-weight: bold;
  margin: 75px;
}
section .container {
  text-align: center;
}

.background1 {
  background: url(https://c1.staticflickr.com/3/2931/14784834543_7a7a986c0c_b.jpg);
  background-size: cover!important;
  background-position: center center!important;
}

.background2 {
  background: url(https://c2.staticflickr.com/6/5532/11337154704_a68864247c_b.jpg),#fff;
  background-size: cover!important;
  background-position: center center!important;
}
.background2 {
  height: 600px;
  font-size: 1.6rem;
  .container {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  p {
    margin-bottom: 30px;
  }
  .footer_signin_btn {
    padding: 1.2rem 1.6rem;
    border-radius: 12px;
    border: none;
    color: #fff;
  }
}

.signin_btn {
  padding: 1.2rem 1.6rem;
  border-radius: 12px;
  border: none;
}

.note {
  font-size: 1rem;
}


@media all and (max-width: 700px) {
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, 
  .container>.navbar-header {
    margin: 0px;
    float: left;
  }
  .nav>li {
    width: 70px;
    float: right;
    margin-right: 10px;
    text-align: center;
  }
  .navbar-nav {
    margin: 0;
    float: right;
    width: 150px;
  }
  .container {
    h1 {
      font-size: 2.4rem;
    }
    h3 {
      font-size: 1.4rem;
      line-height: normal;
      a {
        display: block;
      }
    }
  }
  .right-block {
    margin-top: 10px;
    position: absolute
  }
}
@media all and (max-width: 650px) {
  header h1 {
    font-size: 26px;
    margin-bottom: 30px;
}
#section2 {
  height: initial;
}
section h4 {
  font-size: 14px !important;
}
.background2 h2{
  font-size: 20px !important;
}
.background2 {
  overflow: hidden;
}
.background2 .container {
  height: inherit;
}
.background2 .section-title {
  width: inherit;
}
.section-title {
  margin: 50px;
}
.background2 h1 {
  margin: 30px auto;
}
}
