#root .orange {
  color: #FF9800;
}

#root .red {
  color: #F44336;
}

#root .yellow {
  color: #FFEB3B;
}

#root .blue {
  color: #2196F3;;
}

#root .green {
  color: #4CAF50; 
}

#root .pink {
  color: #E91E63;
}

#root .purple {
  color: #C429DE;
}
